<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
		<title>Elenco artisti accreditati - vista utente</title>
		<link rel="stylesheet" href="../elenchi.css"/>  
	</head> 
	
	<body>
	<header> 
		<div id="titolo"><strong class="titolo">ELENCO DEGLI ARTISTI ACCREDITATI</strong></div>
	</header>
	
	<div class="sezione">	
		<p>
			<ul>
				<li th:each="artista: ${artisti}">
					<p class="desc">
						<span>
							<a href="artistaUtente.html" th:href="@{'/artistaUtente' + '/' + ${artista.id}}"
							   th:text="${artista.nome} + ' ' + ${artista.cognome}">Paolo Rossi</a>
						</span>
					</p>
				</li>
			</ul>
		</p>
	</div>
	
	<div class="sezione">
		<a href="/"><strong class="top">Home</strong></a>
	</div>
	</body>

</html>