<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
		<title>Dettagli opera - vista utente</title>
		<link rel="stylesheet" href="/dettagli.css"/>    
	</head> 

	<body>
	<header> 
		<div id="titolo"><strong class="titolo">Dettagli opera - vista utente</strong></div>
	</header>
	
	<div class="sezione">	
		<p>
			<span ><strong>Nome opera: </strong></span>
			<span th:text="${buffet.nome}">Opera generica</span>
			<span><strong>  -  Descrizione opera: </strong></span>
			<span  th:text="${buffet.descrizione}">Descrizione generica</span>
			<span ><strong> - Nome artista: </strong></span>
			<span >
				<a th:text="${opera.artista}" th:href="@{'/artistaUtente' + '/' + ${opera.artista.id}}">Artista</a>
			</span>
		</p>
	</div>

	
	<div class="sezione">
			<a href="/"><strong class="top">Home</strong></a>
		</div>
	</body>
</html>