<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1" />
		<title>Galleria d'Arte</title>
		<link rel="stylesheet" href="css/my-style.css" />
		<link rel="stylesheet" href="css/form.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div th:replace="fragments/base.html :: sfondo1"></div>
		<div id="text">
			<h2 th:text="#{header.registra}">Registrazione</h2>
			<form th:action="@{/register}" method="POST">
				<table>
					<tr>
						<td>Username</td>
						<td><input type="text" placeholder="username" required
							th:field="${credenziali.username}" /></td>
						<td th:if="${#fields.hasErrors('credenziali.username')}"
							th:errors="${credenziali.username}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" placeholder="password" required
							th:field="${credenziali.password}" /></td>
						<td th:if="${#fields.hasErrors('credenziali.password')}"
							th:errors="${credenziali.password}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Nome</td>
						<td><input type="text" placeholder="nome" required
							th:field="${utente.nome}" /></td>
						<td th:if="${#fields.hasErrors('utente.nome')}"
							th:errors="${utente.nome}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Cognome</td>
						<td><input type="text" placeholder="cognome" required
							th:field="${utente.cognome}" /></td>
						<td th:if="${#fields.hasErrors('utente.cognome')}"
							th:errors="${utente.cognome}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>
							<button type="submit">Registra</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>
